// COLOR
$color-primary:#6b6b6b;
$color-white:#ffffff;
$color-secondary:#ffab1e;
$color-red:#FF0000;
$color-bg:#f9fbfd;
$color-blue:#1d90ff;
// font-family
$font-family-normal:'Source Sans Pro', sans-serif;
$font-family-medium:'Nunito', sans-serif;
//media query
$desktop-middle:1580px;
$desktop:1200px;
$tab-land:1024px;
$tab-large:768px 991px;
$tab-between:991px;
$tab:768px;
$tab-port:767px;
$mobile-large:576px;
$mobile-middle:480px;
$mobile-small:375px;

