.select2-container--admin-autocomplete,
.select2-container--default{
    min-width: 160px;
    max-width: 300px;
    font-size: 16px;
    border:none !important;
    width: auto !important;
}
.select2-selection--single,
.select2-selection--multiple
{
    min-height:30.5667px;
    box-shadow:inset 0 0 1px #c0afaf;
    border-bottom-color:#ECF2F6;
    border: none !important;
}
.django-select2 ~ .select2-container--jet
{
    display: none;
}
span[aria-labelledby="select2-id_loss-container"] {
  pointer-events: none !important;
}
span[aria-labelledby="select2-id_loss-container"] .select2-selection__arrow {
  display: none !important;
}
