{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--head start-->

<head>
    <!--meta tag start-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--title-->
    <title>Bipad</title>

    <!-- faveicon start   -->
    <link rel="icon" type="image/png" href="{% static 'mappage/images/favicon.png' %}" sizes="32x32">

    <!-- stylesheet start -->

    <link rel="stylesheet" type="text/css" href="{% static 'mappage/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mappage/css/customfonts.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin="" />
    <link rel="stylesheet" type="text/css" href="{% static 'mappage/css/style.css' %}">

    <style>

.mypopup.leaflet-popup-content-wrapper{
    background-color: red;
    opacity: 0.9;
}


        .leaflet-popup-tip-container {
    display: none
}

.leaflet-popup-tip{
    display: none
}
    </style>

</head>
<!--head end-->

<body>
    <!-- bipad start -->

    <div class="bipadContent">

        <!-- mapsection start -->
        <div class="mapwrap">

            <!-- logo start -->
            <div class="bipad-logo">
                <h1 class="logo"><a href="index.html">Bipad</a></h1>
            </div>

            <!-- map start -->
            <div id="mapid"></div>

            <!-- leftSidebar start -->
            <div class="sidebar leftSidebar">
                <div class="arrow arrow-left">
                    <i class="humanitarian-icon-Previous-item"></i>
                </div>
                <div class="sidebarwrapper">
                    <!-- sidebar start -->
                    <div class="sidebar-widget">
                        <div class="widget-title">
                            <h4>Nepal</h4>
                        </div>
                        <ul class="list-content">
                            <li><a href="#" target="">Total population</a><span>113456</span></li>
                            <li><a href="#" target="">Area (sq/km)</a><span>43634</span></li>
                            <li><a href="#" target="">population density</a><span>4567789</span></li>
                            <li><a href="#" target="">Poverty rate</a><span>57568569</span></li>
                            <li><a href="#" target="">Population under poverty rate</a><span>5685698</span></li>
                            <li><a href="#" target="">HD</a><span>45363</span></li>
                            <li><a href="#" target="">GDP</a><span>769768</span></li>
                            <li><a href="#" target="">Index</a><span>45363</span></li>
                            <li><a href="#" target="">Per income</a><span>769768</span></li>
                        </ul>
                    </div>
                    <!-- sidebar start -->
                    <div class="sidebar-widget">
                        <div class="widget-title">
                            <h4>Key stats</h4>
                        </div>
                        <ul class="list-content">
                            <li><a href="#" target="">Total population</a><span>113456</span></li>
                            <li><a href="#" target="">Area (sq/km)</a><span>43634</span></li>
                            <li><a href="#" target="">population density</a><span>4567789</span></li>
                            <li><a href="#" target="">Poverty rate</a><span>57568569</span></li>
                            <li><a href="#" target="">Population under poverty rate</a><span>5685698</span></li>
                            <li><a href="#" target="">HD</a><span>45363</span></li>
                            <li><a href="#" target="">GDP</a><span>769768</span></li>
                            <li><a href="#" target="">Index</a><span>45363</span></li>
                            <li><a href="#" target="">Per income</a><span>769768</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- rightSidebar start -->
            <div class=" sidebar rightSidebar">
                <div class="arrow arrow-right">
                        <i class="humanitarian-icon-Previous-item"></i>
                    </div>
                <div class="sidebarwrapper">
                    <!-- sidebar start -->
                    <div class="sidebar-widget filter-widget">
                        <div class="widget-title filter-title">
                            <h4>Filter</h4>
                            <div class="filter-btn">
                                <a href="#" class="apply-btn">apply</a>
                                <a href="#" class="filter-btn">filter</a>
                            </div>
                        </div>
                        <div class="filterSelect">
                            <form>
                                <div class="form-group">
                                    <label>Admin level</label>
                                    <select class="custom-select">
                                        <option selected>Admin</option>
                                        <option>abc</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                        <label>Admin level</label>
                                        <select class="custom-select">
                                            <option selected>Admin</option>
                                            <option>abc</option>
                                        </select>
                                    </div>
                            </form>
                        </div>
                    </div>
                    <!-- hazard-widget start -->
                    <div class="sidebar-widget hazards-widget">resource
                        <div class="widget-title">
                            <h4>Hazards</h4>
                        </div>
                        <div class="iconwrap">
                            <ul->
                                {% for hazard in hazards|slice:":2" %}
                                <li class='{{hazard.layer_tbl}}_activeclass'>
                                    <a href="#" class="CheckBox" value="{{hazard.layer_tbl}}" data-url="{{hazard.geoserver_url}}" data-workspace="{{hazard.geoserver_workspace}}"><span><i class="{{hazard.layer_icon}}"></i></span> {{hazard.layer_name}}</a>
                                </li>

                                {% endfor %}

                                <li>
                                    <a href="#" class="more-option"><span><i class="humanitarian-icon-More-options"></i></span>See more</a>
                                    <ul class="dropicons-list">
                                        <span class="close-cion">x</span>
                                        {% for hazard in hazards|slice:"2:" %}
                                            <li class='{{hazard.layer_tbl}}_activeclass'>
                                                <a href="#" class="CheckBox" value="{{hazard.layer_tbl}}" data-url="{{hazard.geoserver_url}}" data-workspace="{{hazard.geoserver_workspace}}"><span><i class="{{hazard.layer_icon}}"></i></span> {{hazard.layer_name}}</a>
                                            </li>

                                     {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- sidebar-widget start -->
                    <div class="sidebar-widget hazards-widget">
                        <div class="widget-title">
                            <h4>Vulnerability</h4>
                        </div>
                        <div class="iconwrap">
                            <ul>
                               {% for vulnerability in vulnerabilities|slice:":2" %}
                                <li class='{{vulnerability.layer_tbl}}_activeclass'>
                                    <a href="#" class="CheckBox" value="{{vulnerability.layer_tbl}}"><span><i class="{{vulnerability.layer_icon}}" data-url="{{vulnerability.geoserver_url}}" data-workspace="{{vulnerability.geoserver_workspace}}"></i></span> {{vulnerability.layer_name}}</a>
                                </li>

                                {% endfor %}

                                <li>
                                    <a href="#" class="more-option"><span><i class="humanitarian-icon-More-options"></i></span>See more</a>
                                    <ul class="dropicons-list">
                                        <span class="close-cion">x</span>
                                        {% for vulnerability in vulnerabilities|slice:"2:" %}
                                        <li class='{{vulnerability.layer_tbl}}_activeclass'>
                                            <a href="#" class="CheckBox" value="{{vulnerability.layer_tbl}}" data-url="{{vulnerability.geoserver_url}}" data-workspace="{{vulnerability.geoserver_workspace}}"><span><i class="{{vulnerability.layer_icon}}"></i></span> {{vulnerability.layer_name}}</a>
                                        </li>

                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget hazards-widget">
                        <div class="widget-title">
                            <h4>Exposure</h4>
                        </div>
                        <div class="iconwrap">
                            <ul>
                                {% for exposure in exposures|slice:":2" %}


                                <li class='{{exposure.layer_tbl}}_activeclass'>
                                    <a href="#" class="CheckBox" value="{{exposure.layer_tbl}}" data-url="{{exposure.geoserver_url}}" data-workspace="{{exposure.geoserver_workspace}}"><span><i class="{{exposure.layer_icon}}"></i></span> {{ exposure.layer_name}}</a>
                                </li>

                                {% endfor %}


                                <li>
                                    <a href="#" class="more-option"><span><i class="humanitarian-icon-More-options"></i></span>See more</a>
                                    <ul class="dropicons-list">
                                        <span class="close-cion">x</span>
                                        {% for exposure in exposures|slice:"2:" %}

                                        <li class='{{exposure.layer_tbl}}_activeclass'>
                                            <a href="#" class="CheckBox" value="{{exposure.layer_tbl}}" data-url="{{exposure.geoserver_url}}" data-workspace="{{exposure.geoserver_workspace}}"><span><i class="{{exposure.layer_icon}}"></i></span> {{ exposure.layer_name}}</a>
                                        </li>

                                        {% endfor %}

                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- capacity-widget start -->
                    <div class="sidebar-widget capacity-widget">
                        <div class="widget-title">
                            <h4>capacity & Resources</h4>
                        </div>
                        <ul class="list-content">
                            {% for resource in resources %}

                            <li class='{{resource.layer_tbl}}_activeclass'>
                                <div class="capacity-content">
                                    <div class="capacity-icon CheckBox" value="{{resource.layer_tbl}}" data-url="{{resource.geoserver_url}}" data-workspace="{{resource.geoserver_workspace}}">
                                        <span><i class="{{resource.layer_icon}}"></i></span>
                                        {{resource.layer_name}}
                                    </div>
                                    <div class="capacity-tag">
                                        {% for cat in resource.list_string %}
                                            <a href="#" value='{{cat}}' class="subcat {{resource.layer_name}}_subcat geoserver_{{resource.isGeoserver}}">{{ cat }}</a>

                                        {% endfor %}

                                    </div>
                                </div>
                            </li>

                            {% endfor %}


                        </ul>
                    </div>
                </div>
            </div>
            <!-- rightSidebar end -->
        </div>
        <!-- mapsection end -->
    </div>
    <!-- bipad end -->



    <!-- js library start -->
    <script src="{% static 'mappage/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'mappage/js/bootstrap.min.js' %}"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
    <script src="{% static 'mappage/js/script.js' %}"></script>
    <script src="{% static 'mappage/js/leaflet-wfst.src.js' %}"></script>
    <script src="{% static 'mappage/js/proj4.js' %}"></script>
    <script src="{% static 'mappage/js/L.TileLayer.BetterWMS.js' %}"></script>
 <!--     <script src="{% static 'mappage/js/leaflet.ajax.min.js' %}"></script>
 -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>






</body>

<script>
//
//var base_url= 'http://139.59.67.104:8004'
var base_url = 'http://localhost:8000'

$(document).ready(function(){




map = L.map('mapid',{
         zoomControl:false
       }).setView([28.410728397237914,84.4024658203125], 7);
      map.attributionControl.addAttribution("<a href='http://www.naxa.com.np' title = 'Contributor'>NAXA</a>");
      // map.scrollWheelZoom.disable();
      map.options.maxBounds;  // remove the maxBounds object from the map options
      //map.options.minZoom = 9;

      map.createPane("polygonsPane").style.zIndex = 620;
      map.createPane("baseLayerPane").style.zIndex = 250;
      map.createPane("wmsPane").style.zIndex = 450;
      map.createPane("linesPane").style.zIndex = 620;
      map.createPane("pointsPane").style.zIndex = 800;

      //map.options.minZoom = 14;
      //console.log("adfasfsadfasfasdfasfdasdfsafasdfsafasfasfsafsa");
      var accessToken = "pk.eyJ1IjoidXBlbmRyYW9saSIsImEiOiJjaWYwcnFnNmYwMGY4dGZseWNwOTVtdW1tIn0.uhY72SyqmMJNTKa0bY-Oyw";
 var mapboxTiles = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token='+accessToken, {
       attribution: '© <a href="https://www.mapbox.com/feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);
      var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
        pane:"baseLayerPane"
      });

      googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
        maxZoom: 20,
        subdomains:['mt0','mt1','mt2','mt3'],
        pane:"baseLayerPane"
      });
      googleHybrid = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}',{
        maxZoom: 20,
        subdomains:['mt0','mt1','mt2','mt3'],
        pane:"baseLayerPane"
      });
      googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
        maxZoom: 20,
        subdomains:['mt0','mt1','mt2','mt3'],
        pane:"baseLayerPane"
      });
      googleTerrain = L.tileLayer('http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}',{
        maxZoom: 20,
        subdomains:['mt0','mt1','mt2','mt3'],
        pane:"baseLayerPane"
      });



//console.log(wmsLayers_print.length);
// $.each(wmsLayers_print, function (i) {
//   var url = 'http://139.59.67.104:8080/geoserver/wms';
//
//         L.tileLayer.betterWms(url, {
//           layers: wmsLayers_print[i].url,
//           transparent: true,
//           format: 'image/png'
//         }).addTo(map);

resources_layer=[
  'airports',
  'bridges',
  'education',
  'financial_institutions',
  'health_facilities',
  'hotels',
  'market_centers',
  'medical_point',
  'police_stations',
  'banks',
  'places',
  'cities',
  'place_of_worship',
]

resources_icon=[
  'humanitarian-icon-Airport',
  'humanitarian-icon-Bridge',
  'humanitarian-icon-Education',
  'humanitarian-icon-Financing',
  'humanitarian-icon-Hospital',
  'humanitarian-icon-Hotel',
  'humanitarian-icon-IDP-refugee-camp',
  'humanitarian-icon-Medical-supply',
  'humanitarian-icon-Police-station',
  'humanitarian-icon-Cash-transfer',
  'humanitarian-icon-Rural',
  'humanitarian-icon-Building',
  'humanitarian-icon-Hindu-temple',

];

vulnerability_layer=[
    'district_risk_score',
    //'district_risk_rank',
    'district_hdi',
    'district_remotness',
    'district_specificity',
    'district_maxm_facilities',
    'district_median_facilities',
];

var popup = new L.Popup({offset:[0,-20]});


$.get(base_url+'/risk_profile/Layer',function(data){
    count = 0;
    // console.log(data.results.length);
    for(var i=0;i<data.results.length;i++){

        if( data.results[i]['isGeoserver']== true) {
            var url = data.results[i]['geoserverUrl']
            //'http://139.59.67.104:8080/geoserver/wms';




            window[data.results[i]['layerTbl']]=L.tileLayer.betterWms(url, {
                layers:  data.results[i]['geoserverWorkspace']+ ':'+ data.results[i]['layerTbl'],
                transparent: true,
                format: 'image/png',
                pane:"wmsPane"
          });


        }

        else{
            if(data.results[i]['subCategory'] == null){
              var sub_array=[];
            }
            else{
            //  console.log(data.results[i]['subCategory']);
                var sub_array = data.results[i]['subCategory'].split(",");
                // console.log(sub_array);
                for(let i=0;i<sub_array.length;i++){
                    window[sub_array[i].replace(' ','_')] = L.layerGroup();
                    // console.log("w",window[sub_array[i]])
                }
            }
            layer_icon= data.results[i]['layerIcon']
            //alert(layer_icon)

            // console.log("print data ",data);

            var url =base_url+"/risk_profile/"+ data.results[i]['layerTbl'];
            $.ajax({
                url: url,
                //data:{"layer_icon":layer_icon, "data":data,"i":i},
                data1:data,
                indexValue: i,
                layer_icon: layer_icon,
                success: function(response) {
                    //var data = data;
                    //console.log(response);
                    // console.log("results",this.data1);
                    // console.log(this.layer_icon);
                    var layer_icon1 = this.layer_icon;
                    // console.log(this.indexValue);

                    //var geojson_data = JSON.parse(response);
                    // console.log(this.data1.results[this.indexValue]);

            window[this.data1.results[this.indexValue]['layerTbl']] = new L.geoJson(response,

            {
                //pane:"pointsPane",

                pointToLayer: function(feature,Latlng)
                    {

                        console.log(layer_icon1)
                        /* if( layer_icon != 'null'){ */
                                        //alert(layer_icon)


                            var divicon = L.divIcon({
                                className: layer_icon1
                                //iconSize: [80, 30],
                                //html: '<i class='+ "fill_icon" + '></i>'
                            });


                            var marker = L.marker(Latlng,{icon:divicon});

                        //}

                       /*  else{

                            var marker = L.circleMarker(Latlng);

                        } */




                        //for(data in style){

                    /* } */



                    //	}

                    return marker;

                    },


                    onEachFeature: function (feature, layer) {

                        for(let i=0;i<sub_array.length;i++){
                            if(sub_array[i]== feature.properties.type){

                                layer.addTo(window[sub_array[i].replace(' ','_')])
                                console.log('lg',window[sub_array[i].replace(' ','_')])
                            }

                        }

                        console.log("feat",feature.properties.type)
                        if(feature.properties.type != undefined){

                        }
						var popUpContent = "";
                        popUpContent += '<table style="width:100%;" id="District-popup" class="popuptable">';
                        // console.log(feature);
						for (data in layer.feature.properties) {

                            //var dataspaced = underscoreToSpace(data);
							//console.log(data);
                            popUpContent += "<tr>" + "<td>" + data + "</td>" + "<td>" + "  " + layer.feature.properties[data] + "</td>" + "</tr>";
							//console.log(popUpContent);
					   }
                        popUpContent += '</table>';
						//console.log(popUpContent);
                        //layer.bindLabel(feature.properties['DISTRICT'], { 'noHide': true, id:"labelDiv" });



                        layer.bindPopup(L.popup({
                            //closeOnClick: true,
                            //closeButton: true,
                            keepInView: true,
                            autoPan: true,
                            maxHeight: 200,
                            minWidth: 250
                        }).setContent(popUpContent));

                        layer.on('mouseover',function(e){
                            //this.openPopup()
                        })
                        .on('mouseout',function(e){
                            //this.closePopup()
                        })

                        /* layer.on("mouseover", function (e) {
                                 e.target.setStyle({weight:2});
                                 $("#labelDiv").html("<table class='popuptable'><tr><td><h5><b>Layer:</b> District</h5></td></tr><tr><td><h5><b>Name:</b> "+feature.properties['DISTRICT']+"</h5></td><tr></table>");
                        }).on("mouseout", function(e){
                                 e.target.setStyle({weight:1});
                                 $("#labelDiv").html("");
                        }); */

                    }
                });
                // window[data.results[i]['layerName']].on('data:loaded', function (data) {


                //     alert(layer_icon);

                //     window[data.results[i]['layerName']].setStyle({
                //             fillColor: 'blue',
                //             weight: 1,
                //             opacity: 1,
                //             color: 'black',
                //             dashArray: '3',
                //             fillOpacity: 0.0

                //     });

                //     $('.fill_icon').attr('class',layer_icon);


                // });

            }
            });


            console.log(window[""+"Marketcenter"]);



        }
        count++;
}


});









  //var wmsLayer = L.tileLayer.wms('https://geonepal.info/geoserver/ows?', {
// window[wmsLayers_print[i].name] = L.tileLayer.wms('http://139.59.67.104:8080/geoserver/ows?', {
//   layers: wmsLayers_print[i].url,
//   transparent: true,
//   format: 'image/png'
//
// }).addTo(map);

//});




      //var none = "";
      var baseLayers = {
        "OpenStreetMap": osm,
        "Google Streets": googleStreets,
        "Google Hybrid": googleHybrid,
        "Google Satellite": googleSat,
        "Google Terrain": googleTerrain//,
        //"None": none
      };

      //map.addLayer(googleStreets);
      layerswitcher = L.control.layers(baseLayers, {}, {collapsed: false}).addTo(map);

      // map.on("load",function(){
      //   console.log("map loaded fully");
      // });

      // setTimeout(function(){
      //     googleStreets.sendToBack();
      //  }, 3000);


    //map panes

        //cat map end



        info = L.control().setPosition('bottomleft');

        info.onAdd = function (map) {
              this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"

              return this._div;
          }

          info.addTo(map);
          //console.log($('.sidebarwrapper').css('display'));

      $('.info.leaflet-control').css('margin-left','325px');
      $(".arrow.arrow-left").on("click",function(){
        // console.log($('.sidebarwrapper').css('display'));
        if($('.leftSidebar').hasClass("resize-sidebar")){

          $('.info.leaflet-control').css('margin-left','10px');
        }else{
          //console.log($('.sidebarwrapper').css('display'));
          $('.info.leaflet-control').css('margin-left','325px');
        }
      });




        // request layer data
        $(".CheckBox").on('click',function(){

          layerName=$(this).attr('value');
          var geo_url= $(this).attr("data-url");
          var geo_workspace =$(this).attr("data-workspace");
          // console.log(layerName);
          //var layerClicked=window[''+layerName];
          var layerClicked=eval(layerName);

          // console.log(layerClicked);
          if(map.hasLayer(layerClicked)){
            // console.log(layerClicked+" clicked");
            map.removeLayer(layerClicked);
            $("."+layerName+"_activeclass").removeClass("active");

            $('#'+layerName+'_legend').remove();
          }else{
            // console.log(layerClicked+" ntclicked");
            map.addLayer(layerClicked);
                $("."+layerName+"_activeclass").addClass("active");
                info._div.innerHTML = info._div.innerHTML+'<div id="'+layerName+'_legend" style="background:white; padding:5px;"><h6>'+layerName+'</h6><img  src='+ geo_url +'?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=10&&crossOrigin=Anonymous&LAYER='+layerName+'&"/></div>';



            //map.BringToFront();
          }

        });


// method that we will use to update the control based on feature properties passed

        //end






    /* var wfst = new L.WFST(
		{
		  url: 'http://139.59.67.104:8080/geoserver/ows',
		  typeNS: 'Naxa',
		  typeName: 'educatinal_institutions',
		  crs: L.CRS.EPSG4326,
		  geometryField: 'the_geom',
		  filter: filter1,//new L.Filter.BBox('ogr_geometry', map.getBounds(), L.CRS.EPSG4326),
		  style: {
			color: 'blue',
			weight: 2
		  }
		}

	).on('load', function (feature, layer) {
		console.log(feature);
		//map.fitBounds(wfst.getBounds());
	}); */

///





	/*
	var popup = new L.Popup();
	wfst.on('click', function(e){
		console.log(e);
	  popup
		.setLatLng(e.latlng)
		.setContent('You clicked on boundary layer at '+ e.latlng.toString())
		.openOn(map);
	});
 */

})


$('.subcat').on('click',function(){

    if($(this).hasClass('geoserver_False')){

        let layer_name =$(this).attr("value").replace(" ","_");
        console.log("layergrou", window[layer_name])
        window[layer_name].addTo(map)

    }

    else{



                    var filter_value= $(this).attr("value")



                    //var filter = new L.Filter.GmlObjectID(1);

                    var filter1 = new L.Filter.EQ('a2', filter_value);

                filter1.toGml();
                const wfstPointOptions = {
                    crs: L.CRS.EPSG4326,
                showExisting: true,
                geometryField: 'the_geom',
                url: 'http://139.59.67.104:8080/geoserver/ows',
                typeNS: 'Naxa',
                typeName: 'educatinal_institutions',
                filter: filter1,
                //maxFeatures: 90,
                opacity: 1,
                style: function(layer) {
                    // you can use if statemt etc
                    return {
                    color: 'blue',
                    weight: 1
                    }
                },
                };

                if(map.hasLayer(window[filter_value])){
                    map.removeLayer(window[filter_value])
                }

                else{

                window[filter_value] = new L.WFST(wfstPointOptions, new L.Format.GeoJSON({
                crs: L.CRS.EPSG4326,
                pointToLayer(geoJsonPoint, latlng) {
                    /* const layer = new L.CircleMarker(latlng, {
                    radius: 10,
                    }); */

                    var divicon = L.divIcon({
                                className: 'humanitarian-icon-Education',
                    });

                    var marker = L.marker(latlng,{icon:divicon});




                    return marker;
                },
                }));


                window[filter_value].addTo(map);

                }
//
    }

})

</script>

</html>
